.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}


.spinner {
    border: 2rem solid rgba(0, 0, 0, 0.1);
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border-left-color: var(--cardGreen);
    display: block;
    position: absolute;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
