.poster {
    height: 90%;
    border: 1rem solid black;
    border-radius: 1rem;
}

@media (max-width: 1200px) {
    .poster {
        min-width: 56%;
    }
}


@media (max-width: 800px) {
    .poster {
        max-width: 80%;
    }
}
